/* Mis estilos CSS */

.bigCounter{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: 20%;
    font-size: 50px;
}

.nums{
    background-color:rgb(37, 36, 36);
    padding: 20px;
    width: 10%;
    font-weight: bold;
    
}

.container{
    background-color: blue;
    padding: 20px;
    margin-top: 20px;
}

h1{
    color: aliceblue;
}